h1 {
    color: rgb(161, 9, 73)
}

.title {
    font-size: 50px;
}

.text {
    background-color: burlywood;
}

.img_size {
    width: 20%;
    height: 20%;
}

.icon {
    width: 30px;
    height: 30px;
}

.background_color {
    background-color: rgba(9, 141, 134, 0.767);
}